<h2 class="container bg-dark text-white text-center my-4 py-4">Formulario Alumnos<small>*ngIf</small></h2>
<hr>
<form [formGroup]="myForm" (ngSubmit)="saveData()" novalidate>
    <div>
        <label>ID:</label>
        <input formControlName="id"type="text" placeholder="Id"/>
    </div>
    <div *ngIf="myForm.get('id').errors && myForm.get('id').dirty">
        <p *ngIf="myForm.get('id').hasError('requerired')">Este campo es requerido</p>
    </div>
    <div>
        <button type="submit" [disabled]="myForm.invalid"></button>
    </div>
</form>
                

